.btn--submit {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--green);
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.btn--delete {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.btn--delete:hover {
    transform: scale(1.25);
}