.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    padding: 9px 5px;
    border: 2px solid var(--gray);
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

.input-field:focus {
    border-color: var(--green);
}
.input-field:focus ~ .input-label{
    top: -7px;
    transition: top .3s ease-in-out;
    background-color: var(--white);
}

.input-label {
    color: var(--gray);
    display: block;
    position: absolute;
    top: 10px;
    left: 9px;
    font-size: 15px;
    text-transform: capitalize;
}

.input-error {

}