.pop-up {
    
}

.pop-up__title-wrapper {

}

.pop-up__title-text {
    color: var(--black);
    margin: 20px;
    font-weight: normal;
    font-size: 25px;
}

.pop-up__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}