.pop-up {
    position: absolute;
    width: 400px;
    height: 310px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0 0 100vmax rgba(0, 0, 0, 1);
    padding: 15px;
}

.pop-up__title {
    color: var(--black);
    margin: 20px;
    font-weight: normal;
    font-size: 25px;
}

.pop-up__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}